@using StokKontrol.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b>Müşteri Adı Ara:</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Id</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <th>@musteri.MUSTERIID</th>
                <td>@musteri.MUSTERIAD</td>
                <td>@musteri.MUSTERISOYAD</td>
                @*<td> <a href="/Musteri/Sil/@musteri.MUSTERIID" class="btn btn-danger">Sil</a> </td>*@
                <td>@Html.ActionLink("Sil", "Sil", new { id = musteri.MUSTERIID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinizden emin misiniz?')" })</td>
                <td> <a href="/Musteri/MusteriGetir/@musteri.MUSTERIID" class="btn btn-primary">Güncelle</a> </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>